/*all tag*/
* {
	margin: 0;
	padding: 0;
	border: none;
	font-size:1.5625vw;
	font-famliy:"Microsoft Yahei";

}
html,body{
	height:100%;
	overflow: hidden;
}
/*music*/
.music{
	position: fixed;
	top:3vh;
	right:4vw;
	z-index:5;
	width: 15vw;
	height: 15vw;
	border: 8px solid #ef1639;
	border-radius: 50%;
	background-color: white;

}
/*指针*/
.music > img:first-of-type{
   position:absolute;
   top:24%;
   right: 2.5%;
   width:30%;
   z-index: 6;
  
}
/*碟片*/
.music > img:last-of-type{
   position:absolute;
   top:0;
   right: 0;
   bottom: 0;
   left: 0;
   margin: auto;
   width:79%;
}
/*旋转*/
.music>img.play{
    -webkit-animation: music_disc 3s linear infinite;
    -o-animation: music_disc 3s linear infinite;
    animation: music_disc 3s linear infinite;
}
@keyframes music_disc{
   0%{
   	-webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
   }
    100%{
   	-webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
   }
}
@-webkit-keyframes music_disc{
   0%{
   	-webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg)-108    transform: rotate(0deg);
   }
    100%{
   	-webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
   }
}


/*page bg*/
.page{
	position:absolute;
	height:100%;
	width:100%;
}
/*page 1*/
#page1{
	display: block;
}
#page1 > .bg{
	position:absolute;
	height:100%;
	width:100%;
	background-image: url("../image/p1_bg.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	z-index: -1;
}
#page1 > .p1_lantern{
	position:absolute;
	top: -1%;
	right: 0;
	left: 0;
	height:71.2vh;
	width:45vw;
	margin: auto;
	background-image: url("../image/p1_lantern.png");
	background-repeat: no-repeat;
	background-position:center;
	background-size: 100%;
	font-size: 3.506rem;
	text-align: center;
	color: white;
	padding-top: 31vh;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		 -o-box-sizing: border-box;
}
#page1 > .p1_lantern:before{
	position:absolute;
	top:0;
	left:0;
	bottom:3vh;
	right:0;
	margin:auto;
	content:"";
	z-index:-1;
	width:30vw;
	height:30vw;
	background-color: #d60b3b;
	opacity: 0.5;
	background-repeat: no-repeat;
	border-radius: 50%;
	-webkit-box-shadow: 0 0 10vw 10vw #d60b3b;
	   -moz-box-shadow: 0 0 10vw 10vw #d60b3b;
		-ms-box-shadow: 0 0 10vw 10vw #d60b3b;
		 -o-box-shadow: 0 0 10vw 10vw #d60b3b;
	        box-shadow: 0 0 10vw 10vw #d60b3b;
	-webkit-animation: p1_lantern .5s  infinite alternate;
    -o-animation: p1_lantern .5s  infinite alternate;
    animation: p1_lantern .5s  infinite alternate;
}

@keyframes p1_lantern{
   0%{opacity:0.5;
   	-webkit-transform: scale(0.8,0.8);
    -o-transform: scale(0.8,0.8);
    transform: scale(0.8,0.8);
   }
    100%{ opacity: 1; 
   	
   }
}
@-webkit-keyframes p1_lantern{
   0%{opacity:0.5;
   	-webkit-transform: scale(0.8,0.8);
    -o-transform: scale(0.8,0.8);
    transform: scale(0.8,0.8);
   }
    100%{ opacity: 1; 
   	
   }
}

#page1 > .p1_imooc{
	position:absolute;
	right: 0;
	left: 0;
	bottom: 1vh;
	height:37.656vh;
	width:28.63vw;
	margin: auto;
	background-image: url("../image/p1_imooc.png");
	background-repeat: no-repeat;
	background-position:center;
	background-size: 100%;
}
#page1 > .p1_words{
	position:absolute;
	right: 0;
	left: 0;
	bottom: 48px;
	font-size: 3.134rem;
	text-align:center;
	color: #231815
}


	
/*page 2*/
#page2{
	display: none;
	-webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

#page2.fadeOut{opacity: 0.3;
	-webkit-transform: translate(0,-100%);
    -o-transform: translate(0,-100%);
    transform: translate(0,-100%);
}


#page2 > .bg{
	position:absolute;
	height:100%;
	width:100%;
	background-image: url("../image/p2_bg.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	z-index: -2;

}


#page2 > .fadeSlow{
	background: #ef1609;
	z-index: 4;

    -webkit-animation: fadeSlow 0.5s linear   forwards;
    -o-animation: fadeSlow 0.5s linear   forwards;
    animation: fadeSlow 0.5s linear   forwards;

}
@keyframes fadeSlow{
	0%{
		opacity: 0.3;
	};
	50%{
		opacity: 0.6;
	};
	100%{
		opacity: 0;
	};
}
@-webkit-keyframes fadeSlow{
	0%{
		opacity: 1;
	};
	100%{
		opacity: 0;
	};
}





#page2 > .p2_circle{
	position:absolute;
	right: 0;
	left: 0;
	bottom: 0;
	top: 0;
	margin: auto;
	height:59.375vw;
	width:59.375vw;
	border-radius: 50%;
	background-image: url("../image/p2_circle_outer.png");
	background-repeat: no-repeat;
	background-position:center;
	background-size: 100%;
	-webkit-animation: p2_circle_outer 2s ease 3s infinite;
    -o-animation: p2_circle_outer 2s ease 3s infinite;
    animation: p2_circle_outer 2s ease 3s infinite;
}
   
@keyframes p2_circle_outer{
   0%{
   	-webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
   }
   

    100%{
   	-webkit-transform: rotate(-1080deg);
    -o-transform: rotate(-1080deg);
    transform: rotate(-1080deg);
   }
}
@-webkit-keyframes p2_circle_outer{
   0%{
   	-webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
   }
 

    100%{
   	-webkit-transform: rotate(-1080deg);
    -o-transform: rotate(-1080deg);
    transform: rotate(-1080deg);
   }
}
#page2 > .p2_circle:before{
	position:absolute;
	right: 0;
	left: 0;
	bottom: 0;
	top: 0;
	margin: auto;
	content: "";
	height:45.625vw;
	width:45.625vw;
	border-radius: 50%;
	background-image: url("../image/p2_circle_middle.png");
	background-repeat: no-repeat;
	background-position:center;
	background-size: 100%;
	-webkit-animation: p2_circle_middle 2s ease 2s infinite;
    -o-animation: p2_circle_middle 2s ease 2s infinite;
    animation: p2_circle_middle 2s ease 2s infinite;
}
@keyframes p2_circle_middle{
   0%{
   	-webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
   }
    100%{
   	-webkit-transform: rotate(1080deg);
    -o-transform: rotate(1080deg);
    transform: rotate(1080deg);
   }
}
@-webkit-keyframes p2_circle_middle{
   0%{
   	-webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
   }
    100%{
   	-webkit-transform: rotate(1080deg);
    -o-transform: rotate(1080deg);
    transform: rotate(1080deg);
   }
}

#page2 > .p2_circle:after{
	position:absolute;
	right: 0;
	left: 0;
	bottom: 0;
	top: 0;
	margin: auto;
	content: "";
	border-radius: 50%;
	height:39.9375vw;
	width:39.9375vw;
	background-image: url("../image/p2_circle_inner.png");
	background-repeat: no-repeat;
	background-position:center;
	background-size: 100%;
    -webkit-animation: p2_circle_inner 2s ease 1s infinite;
    -o-animation: p2_circle_inner 2s ease 1s infinite;
    animation: p2_circle_inner 2s ease 1s infinite;
}
@keyframes p2_circle_inner{
   0%{
   	-webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
   }
   

    100%{
   	-webkit-transform: rotate(-1080deg);
    -o-transform: rotate(-1080deg);
    transform: rotate(-1080deg);
   }
}
@-webkit-keyframes p2_circle_inner{
   0%{
   	-webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
   }
    100%{
   	-webkit-transform: rotate(-1080deg);
    -o-transform: rotate(-1080deg);
    transform: rotate(-1080deg);
   }
}
#page2 > .p2_2016{
	position:absolute;
	right: 0;
	left: 0;
	bottom: 0;
	top: 0;
	margin: auto;
	height:25.9375vw;
	width:25.9375vw;
	background-image: url("../image/p2_2016.png");
	background-repeat: no-repeat;
	background-position:center;
	background-size: 100%; 
}
/*page 3*/
#page3{
	display:none;
	-webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
#page3.fadeIn{
	-webkit-transform: translate(0,-100%);
    -o-transform: translate(0,-100%);
    transform: translate(0,-100%);
}

#page3 > .bg{
	position:absolute;
	height:100%;
	width:100%;
	background-image: url("../image/p3_bg.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	z-index: -3;

}
#page3 > .p3_logo{
	position:absolute;
	right: 0;
	left: 0;
	top: 5vh;
	margin: auto;
	height:13.375vw;
	width:33.375vw;
	background-image: url("../image/p3_logo.png");
	background-repeat: no-repeat;
	background-position:center;
	background-size: 100%;
}
#page3 > .p3_title{
	position:absolute;
	right: 0;
	left: 0;
	bottom: 0;
	top: 0;
	margin: auto;
	height:100.375vw;
	width:50.375vw;
	background-image: url("../image/p3_title.png");
	background-repeat: no-repeat;
	background-position:center;
	background-size: 100%;
}
#page3 > .p3_first{
	position:absolute;
	right: 2vw;
	bottom: 0;
	top: 0;
	margin: auto;
	height:100.375vw;
	width:25.375vw;
	background-image: url("../image/p3_first.png");
	background-repeat: no-repeat;
	background-position:center;
	background-size: 100%;
    
}
#page3 > .p3_second{
	position:absolute;
	left: 2vw;
	bottom: 0;
	top: 0;
	margin: auto;
	height:100.375vw;
	width:25.375vw;
	background-image: url("../image/p3_second.png");
	background-repeat: no-repeat;
	background-position:center;
	background-size: 100%;

}
#page3 > .p3_blessing{
	position:absolute;
	right: 0;
	left: 0;
	bottom: 7vh;

	margin: auto;
	height:23.375vw;
	width:23.375vw;
	background-image: url("../image/p3_blessing.png");
	background-repeat: no-repeat;
	background-position:center;
	background-size: 100%;
    -webkit-animation: p3_blessing 8s linear 0.5s infinite;
    -o-animation: p3_blessing 8s linear 0.5s infinite;
    animation: p3_blessing 8s linear 0.5s infinite;
}
@keyframes p3_blessing{
   0%{
   	-webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
   }
   

    100%{
   	-webkit-transform: rotate(-1080deg);
    -o-transform: rotate(-1080deg);
    transform: rotate(-1080deg);
   }
}
@-webkit-keyframes p3_blessing{
   0%{
   	-webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
   }
    100%{
   	-webkit-transform: rotate(-1080deg);
    -o-transform: rotate(-1080deg);
    transform: rotate(-1080deg);
   }
}